doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title VEFPS
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
		script(src="http://code.jquery.com/jquery-2.0.3.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js")
		script(src="js/jquery.ui.touch-punch.min.js")
		link(rel='stylesheet', href='css/index.css')
	body
		header
			div#logo
				span vefps
			div#active-rwy

			div#right-toolbar
				span.weather 
					i.vefps-icon-weather
				span.search 
					i.vefps-icon-search
				span.settings 
					i.vefps-icon-settings

		article
		
		aside#weather(style="display:none")
			h2  
				i.vefps-icon-weather
				p Weather
			ul#metars
				li LEBB 011400Z 30009KT 260V330 9999 FEW020 27/21 Q1009 NOSIG
				li LEBG 011400Z 22013KT 180V270 CAVOK 33/05 Q1014
				li LEBL 011400Z 20010KT 180V240 CAVOK 29/23 Q1016 NOSIG
				li LEBZ 011400Z 36007KT 320V050 CAVOK 35/12 Q1011
				li LECO 011400Z 20010KT 140V260 CAVOK 30/17 Q1010
				li LECV 011400Z 19012KT 150V250 CAVOK 34/15 Q1017
				li LEEC 011400Z 23007KT 180V270 CAVOK 35/10 Q1011

		aside#search(style="display:none")
			h2  
				i.vefps-icon-search
				p Search
			input#flight-search(placeholder="Flight number...")
			h3#found-header(style="display:none") Found flights
			ul#found
			h3 Inbound
			ul#inbound
			h3 Outbound
			ul#outbound

		aside#settings(style="display:none")
			h2
				i.vefps-icon-settings
				p Settings
			h3 Aiports
			ul#airports
			input#add-airport(placeholder="Add airport...")
			h3 Columns
			ul#columns
			input#add-column(placeholder="Add column...")
			button#save-settings
				i.vefps-icon-save
				p Save changes
			p(style="color:grey") Keep in mind that all flights will be removed from deleted columns including clearances

	script(src="js/index.debug.js")