@import "compass/reset";
@import "compass/css3";

$mainColor: rgb(56,55,99);
$yellowBg: url("/images/yellowBackground.jpg");
$greenBg: url("/images/greenBackground.jpg");
$redBg: url("/images/redBackground.jpg");
$blackBg: url("/images/blackBackground.jpg");
$blueBg: url("/images/blueBackground.jpg");
$bgColor: #AAB6CC;
$white: #E6E6E6;

$nav-icons: sprite-map("sprites/*.png");
[class^="vefps-icon-"], [class*=" vefps-icon-"]
{
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: $nav-icons no-repeat;
}

@each $sprite in weather,search,settings {
      .vefps-icon-#{$sprite} {
          background-position: sprite-position($nav-icons, $sprite);
      }   
}

html
{
	height: 100%;
}
body
{
	background-color: $bgColor;
	color: $mainColor;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:10px;
	height:100%;
	overflow:hidden;
}

header
{
	height: 32px;
	overflow: hidden;
	background: $blackBg;
	background-color: #191919;
	background-repeat: no-repeat;
	div
	{
		float: left;
		text-align: center;
		&.airport
		{
			background: $yellowBg;
			p
			{
				color: white;
				padding: 0px 5px;
				&.airport-name
				{
					font-size: 17px;
					line-height: 20px;
					font-weight: bold;
				}
				&.airport-winds
				{
					font-size: 12px;
					line-height: 12px;
				}
			}
			
		}
		&.runways
		{
			background: $redBg;
			color: white;
			p
			{
				padding: 0px 5px;
				font-weight: bold;
				&.same
				{
					font-size: 17px;
					line-height: 32px;
				}
				&.different
				{
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
		
		span
		{
			line-height: 32px;
			padding: 0px 5px; 
			display: inline-block;
			font-size: 1.4em;
			font-weight: bold;
			border-right: 1px solid rgba(white,0.5);
			color: white;
			background: $blackBg;
			float: left;
			&#departures, &.departures-airport
			{
				background: $yellowBg;
			}
			&#arrivals, &.arrivals-airport, &.selected
			{
				background: $greenBg;
			}
			&.rwy
			{
				padding: 0px 5px;
				background: $redBg;
			}	
		}
	}

	div#right-toolbar
	{
		float:right;
		border-left: 1px solid rgba(white,0.5);;
	}
}

article
{
	@include display-box;
	@include box-orient(horizontal);
	@include box-align(stretch);
	width: 100%;
	height: 95%;
	div.column
	{
		height: 100%;
		@include box-flex(1);
		width: 0;
		margin: 5px 0.5%;
		@include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 10px);
		background: rgba(255, 255, 255, 0.8);
		h2, div.strip-separator
		{
			font-size: 1.5em;
			font-weight: bold;
			text-align: center;
			height:1.5em;
			background: $blueBg;
			color: $white;
			position: relative;
			width:102%;
			left: -1%;
			line-height: 1.5em;
		}
		div.strip-separator
		{
			background: $greenBg;
			margin: 2px 0px;
		}
		div.strip-placeholder
		{
			background-color: $bgColor;
		}
		div.strip-container
		{
			height: 96%;
			@include display-box;
			@include box-orient(vertical);
			@include box-align(stretch);
			@include box-pack(end);
			div.flight-strip
			{
				position: relative;
				width:102%;
				left: -1%;
				@include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 10px);
				margin: 1px 0px;
			}
			table  
			{
				background-color: $white;
				width: 100%;
				border-collapse:collapse;
				tr td 
				{
					font-weight:bold;
					border: 1px solid $mainColor;
					text-align: center;
					padding: 5px;
					&.flight-number
					{
						width: 22%;
						font-size: 1.4em;
					}
					&.aircraft, &.flight-level, &.squawk, &.airports
					{
						width:13%;
					}										
					&.cleared-fix
					{
						width:16%;
					}
					&.transfer
					{
						width:10%;
					}
					ul li
					{
						font-weight: bold;
						&.small
						{
							font-size: 0.65em;
						}
					}
				}
			}
		}
	}
}

aside
{
	position: absolute;
	top:32px;
	left:0;
	background: #363636;
	color: $white;
	width:300px;
	height: 96%;
	font-size: 14px;
	@include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 10px);
	@include transition-duration(0.5s);
	@include transition-property(left);
	h2,button
	{
		background: $greenBg;
		font-size: 1.5em;
		padding: 7px;
		text-align: center;
		font-weight: bold;
		overflow:hidden;
		position: relative;
		width: 102.5%;
		left: -2.5%;
		i, p
		{
			float: left;
		}
		p
		{
			line-height: 32px;
			padding-left: 10px;
		}
	}
	h3
	{
		background: $redBg;
		font-size: 1.2em;
		padding: 0.3em;
		position: relative;
		width: 102.5%;
		left: -2.5%;
		font-weight: bold;
	}
	input
	{
		background: $blackBg;
		border: 0;
		padding: 6px;
		margin: 0;
		width: 100%;
		color: $white
	}
	button
	{
		background: $redBg;
		border: none;
		color: white;
		&:hover
		{
			background: $greenBg;
		}
	} 
	ul li
	{
		padding: 0.6em;
		border-bottom: 1px solid rgba(white,0.5);
		background: $blackBg;
	}
}

div.fs-pop-up
{
	position:absolute;
	top: 0; 
	left: 0;
	width: 100px;
	height: 150px;
	overflow:hidden;
	background: $white;
	font-size: 1.5em;
	@include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 10px);
	div.container
	{
		overflow:auto;
		width: 120px;
		height:120px;
		ul li
		{
			padding: 0.5em;
			border-bottom: 1px solid $mainColor;
			text-align: center;
		}
	}
	input
	{
		width: 96px;
		margin: 0;
		border: 0;
		line-height: 26px;
		padding: 2px;
		border-top: 1px solid $mainColor;
		color: $mainColor;
	}
}
.ui-draggable
{
	cursor: move;
}